body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

#datetime {
    position: absolute;
    bottom: 10px;
    right: 20px;
    font-size: 14px;
    color: #555;
}

.toolbar {
    background-color: #f8f9fa;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.toolbar h1 {
    margin: 0;
    display: inline-block;
}

.toolbar nav {
    display: flex;
    justify-content: flex-end;
}

.tool-list {
    display: grid;
    grid-template-columns: repeat(10, minmax(105px, 1fr)); /* Adjust the min width as needed */
    gap: 10px; /* Space between buttons */
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.tool-list li {
    display: block;
    justify-content: center;
}

.tool-list a {
    display: block;
    padding: 11px;
    background-color: #e0e0e0; /* Gray background */
    color: #0e0d0d; /* Dark text color */
    text-align: center;
    text-decoration: none;
    border-radius: 7px; /* Rounded corners */
    transition: background-color 0.3s; /* Smooth transition */
}

.tool-list a:hover {
    background-color: #b8dee7; /* Darker gray on hover */
}

.content {
    margin-top: 20px;
    padding: 20px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}